my-imported-schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://bawi.com/my-imported-schema" targetNamespace="http://bawi.com/my-imported-schema">
    <!-- xmlns and target namespace are different than the parent namespace -->

    <xs:element name="MyDuplicatedElement" type="MyDuplicatedElementType" />

    <xs:complexType name="MyDuplicatedElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="myImportedIntAttribute" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>